.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 80px;
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 20px;
}

.gradient-text {
  background: linear-gradient(90deg, #ad00ff -0.3%, #ffb800 78.07%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 70px;
  font-family: "Anton", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  margin-bottom: 20px;
}

.text-container {
  margin-right: 30px;
  padding: 0 10px;
  max-width: 1000px;
}

.overlay {
  background-color: rgba(44, 43, 43, 0.603);
  padding: 30px;
  max-width: 1000px;
  margin-top: 10px;
  color: white;
  border: 1px solid;
  border-image: linear-gradient(90deg, #ad00ff -0.4%, #ffb800 92.07%) 1;
}

.card {
  box-shadow: rgba(44, 43, 43, 0.603);
  border-radius: 8px;
  overflow: hidden;
  background: rgba(44, 43, 43, 0.603);
  margin: 0 auto;
  color: white;
}

.card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  color: #ffffff;
}

.card-text {
  font-size: 1rem;
  color: #ffffff;
}

.text-body-secondary {
  color: #ffffff;
}

.btn-dark {
  background-color: #343a40;
  color: #fff;
  border: none;
}

.btn-dark:hover {
  background-color: #23272b;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col-md-6 {
    width: 100%;
  }
}
