<div class="container">
    <div class="content">
        <div class="text-container">
            <h2 class="gradient-text">Projects</h2>
            <br /><br /><br />
            <div class="card mb-3 overlay" style="max-width: 800px;">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="../../../assets/images/alquimia.png" class="card-img img-fluid" alt="Alquimia Coffee Filter" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Alquimia Coffee Filter</h5>
                            <p class="card-text">Alquimia is a sophisticated project developed using Angular and Spring API REST. It is designed to create a community where logged-in and registered users can share their unique coffee recipes. This platform provides a seamless experience for coffee enthusiasts to discover, share, and explore new recipes, fostering a collaborative environment for sharing.</p>
                            <a href="https://alquimiacoffefilter.vercel.app" class="btn btn-dark">Go</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
