<div class="container">
    <div class="content">
      <div class="text-container">
        <h2 class="gradient-text">
          Hey Everyone!<br />
          <span class="second-line">I´m Miguel Ángel</span>
        </h2>
        <p class="description">
          Actualmente estoy estudiando un grado superior de
        </p>
        <p class="description">Desarrollo de Aplicaciones Web (DAW).</p>
      </div>
      <img src="assets/images/perfil.png" alt="Perfil" />
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <h2 class="section-heading">Intereses Personales y Profesionales</h2>
        <div class="flex bg-[#FFFFFF] bg-opacity-[10%] rounded-2xl p-16 gap-32">
          <div class="flex flex-col gap-16 flex-1">
            <div class="flex flex-col gap-5">
              <h1 class="description">Geografia</h1>
              <p class="title">
                A parte de mi pasion por la tecnologia soy geografo y cuento con
                un master en Sistemas de Información Geografica
              </p>
            </div>
            <div class="flex flex-col gap-5">
              <h1 class="description">Cafe</h1>
              <p class="title">
                El cafe de especialidad es una parte importante en mi vida,
                disfruto todos los dias de él y de su elaboración
              </p>
            </div>
          </div>
          <div class="flex flex-col gap-16 flex-1">
            <div class="flex flex-col gap-5">
              <h1 class="description">Programación</h1>
              <p class="title">
                Me encanta poder aprender cada dia de este maravilloso mundo
              </p>
            </div>
            <div class="flex flex-col gap-5">
              <h1 class="description">Grado Superior en DAW</h1>
              <p class="title">
                Actualmente estoy cursando un grado superior de Desarrollo de
                Aplicaciones Web (DAW)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="latte-image" src="assets/images/latte.jpeg" alt="Latte" />
  </div>
  