<div class="container">
    <div class="content">
      <div class="text-container">
        <h2 class="gradient-text">
          Hey Everyone!<br />
          <span class="second-line">I´m Miguel Ángel</span>
        </h2>
        <p class="description">
          I am currently studying for a higher degree in
        </p>
        <p class="description">Web Application Development.</p>
      </div>
      <img src="assets/images/perfil.png" alt="Perfil" />
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <h2 class="section-heading">Personal and Professional Interests</h2>
        <div class="flex bg-[#FFFFFF] bg-opacity-[10%] rounded-2xl p-16 gap-32">
          <div class="flex flex-col gap-16 flex-1">
            <div class="flex flex-col gap-5">
              <h1 class="description">Geography</h1>
              <p class="title">
                Apart from my passion for technology, I am a geographer and I have a master's degree in
                a master's degree in Geographic Information Systems.
              </p>
            </div>
            <div class="flex flex-col gap-5">
              <h1 class="description">Coffee</h1>
              <p class="title">
                Speciality coffee is an important part of my life,
                I enjoy it and its preparation every day.
              </p>
            </div>
          </div>
          <div class="flex flex-col gap-16 flex-1">
            <div class="flex flex-col gap-5">
              <h1 class="description">Web Application Development</h1>
              <p class="title">
                I am currently studying a higher degree in Web Application Development.
                Web Applications Development (DAW). I love to learn every day of this wonderful world.
              </p>
            </div>
            <div class="flex flex-col gap-5">
              <h1 class="description">Analogue Photography</h1>
              <p class="title">
                In my spare time I enjoy analog photography where I go out to capture moments with my cameras.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="images-container">
      <img class="latte-image" src="assets/images/latte.jpeg" alt="Latte" />
      <img class="setUp-image" src="../../../assets/images/setUp1.jpeg" alt="setUp" />
    </div>
  </div>
  