body {
  background-image: url("./assets/images/backgroundM.jpg");
}

.playwrite-nz-uniquifier-1 {
  font-family: "Playwrite NZ", cursive;
  font-weight: 400;
  font-style: normal;
}

.playwrite-nz-uniquifier-2 {
  font-family: "Playwrite NZ", cursive;
  font-weight: 300;
  font-style: italic;
}
